<main>
	<div class="container">
		<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">
						<div class="d-flex justify-content-center py-4">
							<a href="index.html" class="logo d-flex align-items-center w-auto">
								<img src="assets/logo2.png" alt="">
								<span class="d-none d-lg-block">MPEX</span>
							</a>
						</div><!-- End Logo -->
						<div class="card mb-3">
							<div class="card-body">
								<div class="pt-4 pb-2">
									<h5 class="card-title text-center pb-0 fs-4">Reset Password</h5>
								</div>
								@if(validToken)
								{
									<form role="form" [formGroup]="resetForm" class="row g-3">
										<div class="col-12">
											<div class="form-floating mb-3">
												<input class="form-control" type="password" id="password" formControlName="password">
												<label for="password">New Password</label>
											</div>
											<div class="form-floating mb-3">
												<input class="form-control" type="password" id="password2" formControlName="password2">
												<label for="password2">Re-Type New Password</label>
											</div>
										</div>
										<div class="col-12">
											Password Requirements
											<ul>
												<li>Minimum Password Length is 8 characters</li>
												<li>Password cannot contain a space</li>
												<li>Password must contain at least one lowercase letter</li>
												<li>Password must contain at least one uppercase letter</li>
												<li>Password must contain at least one number</li>
												<li>Password must contain at least one special character: &#64;$!%*#?&^_</li>
											</ul>
										</div>
										@if(!successfulChange)
										{
											<div class="col-12">
												<button type="button" class="btn btn-primary w-100" (click)="submit()" 
													[disabled]="!resetForm.valid">Login</button>
											</div>
										}
									</form>
								}
								<app-alerts></app-alerts>
								@if(successfulChange)
								{
									<div class="col-12 pt-2">
										<button type="button" class="btn btn-primary w-100" (click)="backHome()"> 
											Back to Login</button>
									</div>
								}
							</div>
						</div>
						<div class="copyright">
							&copy; Copyright <strong><span>NJ Innovations.</span></strong>. All Rights Reserved
						  </div>
						<div class="credits">
							<!-- All the links in the footer should remain intact. -->
							<!-- You can delete the links only if you purchased the pro version. -->
							<!-- Licensing information: https://bootstrapmade.com/license/ -->
							<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
							Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</main>
