<div class="modal-header text-white mpex-modal-header">
	<h5 class="modal-title">Create Project</h5>
	<button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('')"></button>
</div>
<div class="modal-body">
	<form role="form" [formGroup]="projectForm">
		<div class="row">
			<div class="col-12 mb-3">
				<label for="project">Project</label>
				<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="project"></textarea>
			</div>
		</div>
	</form>
	@if(alertMessage != '')
	{
		<div class="row">
			<div class="col-12">
				<ngb-alert type="danger" (closed)="closeAlert()"><strong>Error:</strong> {{alertMessage}}</ngb-alert>
			</div>
		</div>
	}
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-dark ml-2 btn-sm"  (click)="activeModal.dismiss('')">Cancel</button>
	<button type="button" class="btn btn-outline-primary ml-2 btn-sm"  (click)="Save()" [disabled]="!projectForm.valid">Save</button>
</div>


