
<div class="card">
	<div class="card-body pt-3">
		<h5 class="card-title">Client Links</h5>
		<div class="text-left pb-3">
			<button class="btn btn-purple btn-sm" type="button" (click)="createClientLink()">
				<fa-icon [icon]="faCirclePlus" class="fa-icon-spacer" size="lg"></fa-icon>
				Create Client Link
			</button>
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col" style="width:5%"></th>
					<th scope="col" style="width:5%"></th>
					<th scope="col">Client</th>
					<th scope="col">Role</th>
					<th scope="col">Sector(s)</th>
				</tr>
			</thead>
			<tbody>
				@for(c of this.clientLinks; track c.id)
				{
					<tr>
						<td class="text-center" style="width:5%">
							<fa-icon [icon]="faFileXmark" class="fa-icon-spacer"
								size="xl" style="cursor: pointer; color:red" (click)="deleteClientLink(c)"></fa-icon>
						</td>
						<td class="text-center" style="width:5%">
							<fa-icon [icon]="faFilePen" class="fa-icon-spacer"
								size="xl" style="cursor: pointer" (click)="updateClientLink(c)"></fa-icon>
						</td>
						<td>{{c.client_name}}</td>
						<td>{{c.role_name}}</td>
						<td>
							<div>
								<ul>
									@for(s of c.sectors; track s){
										<li>{{s.sector_name}}</li>
									}
								</ul>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>						
	</div>
</div>
