<div class="modal-header text-white mpex-modal-header">
	<h5 class="modal-title">Update Project</h5>
	<button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('')"></button>
</div>
<div class="modal-body">
	<form role="form" [formGroup]="projectForm">
		<div class="row">
			<div class="col-12 mb-3">
				<label for="project">Project Title</label>
				<textarea class="form-control" id="project_title" rows="3" formControlName="project_title"></textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-12 mb-3">
				<label for="project">Project Description</label>
				<textarea class="form-control" id="project_description" rows="3" formControlName="project_description"></textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-12 mb-3">
				<div>Requirements</div>
				<div class="text-left pb-3 mt-2">
					<button class="btn btn-purple btn-sm" type="button" (click)="createRequirement()">
						<fa-icon [icon]="faCirclePlus" class="fa-icon-spacer" size="lg"></fa-icon>
						Create Requirement
					</button>
				</div>
				<div class="col-12 mb-3" [ngStyle]="{'display': visibleNewRequirement ? 'block' : 'none' }">
					<div class="input-group">
						<input type="text" class="form-control" id="new_requirement" formControlName="new_requirement" placeholder="Input new requirement" />
						<button class="btn btn-primary" type="button" aria-label="Save New Requirement" (click)="saveRequirement()"
							[disabled]="projectForm.value.new_requirement?.length < 5">Save</button>
						<button class="btn btn-danger" type="button" aria-label="Cancel New Requirement" (click)="createRequirement()">Cancel</button>
					</div>
				</div>
				<table class="table">
					<tbody>
						<!-- @for(c of project.requirements; track c.requirement_id)
						{
							<tr>
								<td>
									<app-update-my-projects-requirement [requirement]="c" (messageEvent)="receiveMessage($event)">
									</app-update-my-projects-requirement>
								</td>
							</tr>
						} -->
					</tbody>
				</table>
			</div>
		</div>
	</form>
	@if(alertMessage != '')
	{
		<div class="row">
			<div class="col-12">
				<ngb-alert type="danger" (closed)="closeAlert()"><strong>Error:</strong> {{alertMessage}}</ngb-alert>
			</div>
		</div>
	}
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-dark ml-2 btn-sm"  (click)="activeModal.dismiss('')">Cancel</button>
	<button type="button" class="btn btn-outline-primary ml-2 btn-sm"  (click)="Save()" [disabled]="!projectForm.valid">Save</button>
</div>