<div class="pagetitle">
	<h1>Update User</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a style="cursor: pointer" routerLink="/users">Users</a></li>
			<li class="breadcrumb-item active">Update</li>
		</ol>
	</nav>
</div><!-- End Page Title -->
@if(isPageLoading > 1)
{
	<section class="section">
		<form [formGroup]="usersForm" role="form">
			<div class="row">
				<div class="col-lg-4">
					<div class="card">
						<div class="card-body pt-3">
							<h5 class="card-title">User Demographics</h5>
							<div class="col-12 mb-3">
								<label for="fname" class="required form-label">First Name</label>
								<div><input formControlName="fname" type="text" class="form-control" id="fname"></div>
							</div>
							<div class="col-12 mb-3">
								<label for="lname" class="required form-label">Last Name</label>
								<div><input formControlName="lname" type="text" class="form-control" id="lname"></div>
							</div>
							<div class="col-12 mb-3">
								<label for="role" class="required form-label">Role</label>
								<select id="role" formControlName="role" class="form-select" aria-label="Role Search">
									<option value=""></option>
									<option *ngFor="let r of rolesRS" [value]="r.id">{{r.role_name}}
									</option>
								</select>
							</div>
							<div class="col-12 mb-3">
								<label for="email" class="form-label required">E-Mail</label>
								<div><input formControlName="email" type="text" class="form-control" id="email"></div>
							</div>
							<div class="col-12 mb-3">
								<label for="organization" class="form-label required">Organization</label>
								<div><input formControlName="organization" type="text" class="form-control" id="organization"></div>
							</div>
							<div class="col-12 mb-3">
								<label for="city" class="form-label">City</label>
								<div><input formControlName="city" type="text" class="form-control" id="city"></div>
							</div>
							<div class="col-12 mb-3">
								<label for="state" class="form-label">State</label>
								<div><input formControlName="state" type="text" class="form-control" id="state"></div>
							</div>
							<div class="col-12 mb-3">
								<label for="linkedin" class="form-label">LinkedIn profile</label>
								<div><input formControlName="linkedin" type="text" class="form-control" id="linkedin"></div>
							</div>
							<div class="row">
								<div class="col-auto">
									<div class="form-check">
										<input class="form-check-input" type="checkbox"  id="is_student"
											formControlName="is_student">
										<label class="form-check-label" for="is_student">
											Is Student
										</label>
									</div>
								</div>
								<div class="col-auto">
									<div class="form-check">
										<input class="form-check-input" type="checkbox"  id="is_mentor"
											formControlName="is_mentor">
										<label class="form-check-label" for="is_mentor">
											Is Mentor
										</label>
									</div>
								</div>
								<div class="col-auto">
									<div class="form-check">
										<input class="form-check-input" type="checkbox"  id="is_preceptor"
											formControlName="is_preceptor">
										<label class="form-check-label" for="is_preceptor">
											Is Preceptor
										</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-auto">
									<div class="form-check">
										<input class="form-check-input" type="checkbox"  id="open_to_mentoring"
											formControlName="open_to_mentoring">
										<label class="form-check-label" for="open_to_mentoring">
											Open to Mentoring
										</label>
									</div>
								</div>
								<div class="col-auto">
									<div class="form-check">
										<input class="form-check-input" type="checkbox"  id="open_to_precepting"
											formControlName="open_to_precepting">
										<label class="form-check-label" for="open_to_precepting">
											Open to Precepting
										</label>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="row">
						<div class="col-12">
							<app-mentor-projects [user_id]="this.user.id" [mentorProjects]="this.user.mentor_projects">
							</app-mentor-projects>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<div class="card">
								<div class="card-body pt-3">
									<h5 class="card-title">Title(s)</h5>
									@for (t of titles; track $index)
									{
										<div class="pb-1">
											<fa-icon class="circle-delete" [icon]="faCircleMinus" class="fa-icon-spacer text-danger"
												size="lg" role="button" (click)="deleteTitle($index)">
											</fa-icon>
											{{t}}
										</div>
									}
									<div class="input-group mb-3">
										<input type="text" class="form-control" placeholder="Input new title and click Add" aria-label="New Title" 
										aria-describedby="new_title_button-addon" formControlName="new_title" id="new_title">
										<button class="btn btn-primary" type="button" (click)="addTitle()"
											[disabled]="usersForm.value.new_title==null">Add</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="card">
								<div class="card-body pt-3">
									<h5 class="card-title">Degree(s)</h5>
									@for (d of degrees; track $index)
									{
										<div class="pb-1">
											<fa-icon class="circle-delete" [icon]="faCircleMinus" class="fa-icon-spacer text-danger"
												size="lg" role="button" (click)="deleteDegree($index)">
											</fa-icon>
											{{d}}
										</div>
									}
									<div class="input-group mb-3">
										<input type="text" class="form-control" placeholder="Input new degree and click Add" aria-label="New Title" 
										aria-describedby="new_degree_button-addon" formControlName="new_degree" id="new_degree">
										<button class="btn btn-primary" type="button" (click)="addDegree()"
											[disabled]="usersForm.value.new_degree==null">Add</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-body pt-3">
									<h5 class="card-title">Sectors</h5>
									<div class="row">
									@for(cb of sectorCheckBoxes; track $index)
									{
										<div class="col-4">
											<div class="form-check">
												<input class="form-check-input" type="checkbox" value="{{cb.value}}" id="sectorCB{{$index}}"
												[checked]="cb.checked" (click)="checkSectorCb($index)">
												<label class="form-check-label" for="sectorCB{{$index}}">
													{{cb.label}}
												</label>
											</div>
										</div>
									}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<app-avatar-upload [api_part]="2" [user_id]="id"></app-avatar-upload>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12 text-center">
						<button class="btn btn-primary" type="button" (click)="saveUser()" [disabled]="!usersForm.valid">Save User</button>
				</div>
			</div>
		</form>
	</section>
}
@else
{
	<div class="row">
		<div class="col-12 mt-5 mb-5 text-center">
			<fa-icon [icon]="faSpinner" size="6x" animation="spin"></fa-icon>
		</div>
	</div>
}

