<form role="form" [formGroup]="mentorProjectRequirementForm">

	<div [ngStyle]="{'display': activeUpdate ? 'none' : 'block' }">
		<div class="input-group">
			<button class="btn btn-outline-light text-center" type="button" aria-label="Save New Requirement"
				(click)="deleteRequirement()">
				<fa-icon [icon]="faFileXmark" class="fa-icon-spacer mx-auto d-block"
											size="xl" style="cursor: pointer; color:red"></fa-icon>
			</button>
			<button class="btn btn-outline-light" type="button" aria-label="Cancel New Requirement"
				(click)="updateRequirement()">
				<fa-icon [icon]="faFilePen" class="fa-icon-spacer mx-auto d-block"
											size="xl" style="margin-left: 2px; cursor: pointer; color: #000"></fa-icon>
			</button>
			 <span class="pt-2 ms-3">{{static_requirement_text}}</span>
		</div>
		
		<div class="row mt-2" [ngStyle]="{'display': confirmDelete ? 'block' : 'none' }">
			<div class="col-12">
				<ngb-alert type="danger" [dismissible]="false"> Are you sure you want to delete this requirement?
					<button type="button" class="btn btn-danger ms-5" (click)="cancelDeleteRequirement()">
						<fa-icon [icon]="faThumbsDown" class="fa-icon-spacer" size="lg"></fa-icon>No
					</button>
					<button type="button" class="btn btn-success ms-2" (click)="confirmDeleteRequirement()">
						<fa-icon [icon]="faThumbsUp" class="fa-icon-spacer" size="lg"></fa-icon>Yes
					</button>
				</ngb-alert>
			</div>
		</div>
	</div>

	<div [ngStyle]="{'display': activeUpdate ? 'block' : 'none' }">
		<div class="input-group">
			<button class="btn btn-outline-light" type="button" aria-label="Save New Requirement" [disabled]="true">
				<fa-icon [icon]="faFileXmark" class="fa-icon-spacer mx-auto d-block"
												size="xl" style="cursor: pointer; color:red"></fa-icon>
			</button>
			<button class="btn btn-outline-light text-center" type="button" aria-label="Cancel New Requirement" [disabled]="true">
				<fa-icon [icon]="faFilePen" class="fa-icon-spacer mx-auto d-block"
												size="xl" style="cursor: pointer; color: #000"></fa-icon>
			</button>
			<input type="text" class="form-control" id="requirement_text" formControlName="requirement_text" />
			<button class="btn btn-primary" type="button" aria-label="Save New Requirement" (click)="saveRequirement()">Save</button>
			<button class="btn btn-danger" type="button" aria-label="Cancel New Requirement" (click)="updateRequirement()">Cancel</button>
		</div>
		@if(alertMessage != '')
		{
			<div class="row mt-2">
				<div class="col-12">
					<ngb-alert type="danger" (closed)="closeAlert()"><strong>Error:</strong> {{alertMessage}}</ngb-alert>
				</div>
			</div>
		}
	</div>
</form>
