<div class="pagetitle">
	<h1>Create User</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a style="cursor: pointer" routerLink="/users">Users</a></li>
            <li class="breadcrumb-item active">Create</li>
		</ol>
	</nav>
</div><!-- End Page Title -->
@if(isPageLoading > 0)
{
	<section class="section">
		<form [formGroup]="usersForm" role="form">
			<div class="row">
				<div class="col-lg-10">
					<div class="card">
						<div class="card-body pt-3">
							<h5 class="card-title">User Demographics</h5>
							<div class="row">
								<div class="col-3 mb-3">
									<label for="fname" class="form-label" class="required">First Name</label>
									<div><input formControlName="fname" type="text" class="form-control" id="fname"></div>
								</div>
								<div class="col-4 mb-3">
									<label for="lname" class="form-label" class="required">Last Name</label>
									<div><input formControlName="lname" type="text" class="form-control" id="lname"></div>
								</div>
								<div class="col-4 mb-3">
									<label for="email" class="form-label" class="required">E-Mail</label>
									<div><input formControlName="email" type="text" class="form-control" id="email"></div>
								</div>
								<div class="col-3 mb-3">
									<label for="organization" class="form-label" class="required">Organization</label>
									<div><input formControlName="organization" type="text" class="form-control" id="organization"></div>
								</div>
								<div class="col-4 mb-3">
									<label for="client" class="required">Primary Client</label>
									<select id="client" formControlName="client" class="form-select" aria-label="Client Search">
										<option value=""></option>
										<option *ngFor="let c of clientsRS" [value]="c.id">{{c.name}}
										</option>
									</select>
								</div>
								<div class="col-4 mb-3">
									<label for="role" class="required">Primary Role</label>
									<select id="role" formControlName="role" class="form-select" aria-label="Role Search">
										<option value=""></option>
										<option *ngFor="let r of rolesRS" [value]="r.id">{{r.role_name}}
										</option>
									</select>
								</div>							
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 text-center">
						<button class="btn btn-primary" type="button" (click)="saveUser()" [disabled]="!usersForm.valid">Save User</button>
				</div>
			</div>
		</form>
	</section>
}
@else
{
	<div class="row">
		<div class="col-12 mt-5 mb-5 text-center">
			<fa-icon [icon]="faSpinner" size="6x" animation="spin"></fa-icon>
		</div>
	</div>
}
