<div class="card">
	<div class="card-body pt-3">
		<form [formGroup]="avatarForm" role="form">
			<h5 class="card-title">Upload Profile Image</h5>
			<label for="avatar_file" class="form-label">Select a file to upload</label>
			<div class="input-group mb-3">
				<input type="file" class="form-control" aria-label="Profile Image upload"
					aria-describedby="saveAvatarBtn" formControlName="avatar_file" (change)="this.onFilechange($event)">
				<button class="btn btn-primary" type="button" id="saveAvatarBtn" (click)="saveAvatar()"
					[disabled]="!avatarForm.valid">Save</button>
			</div>
			<div>
				@if(successMessage.length > 0)
				{
					<ngb-alert type="success" (closed)="closeSuccessAlert()">{{successMessage}}</ngb-alert>
				}
				@if(errorMessage.length > 0)
				{
					<ngb-alert type="danger" (closed)="closeErrorAlert()">{{errorMessage}}</ngb-alert>
				}
			</div>
		</form>
	</div>
</div>