<div class="pagetitle">
	<h1>My Profile</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item active">Profile</li>
		</ol>
	</nav>
</div><!-- End Page Title -->
<section class="section">
	<div class="row">
		<div class="col-lg-6">
			<div class="card">
				<div class="card-body pt-3">
					<form [formGroup]="profileForm" role="form">
						<div class="row mb-3">
							<label for="fname" class="col-md-4 col-lg-3 col-form-label">First Name</label>
							<div class="col-md-8 col-lg-9">
								<input formControlName="fname" type="text" class="form-control" id="fname">
							</div>
						</div>
						<div class="row mb-3">
							<label for="lname" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
							<div class="col-md-8 col-lg-9">
								<input formControlName="lname" type="text" class="form-control" id="lname">
							</div>
						</div>
						<div class="row mb-3">
							<label for="email" class="col-md-4 col-lg-3 col-form-label">E-Mail</label>
							<div class="col-md-8 col-lg-9">
								<input formControlName="email" type="text" class="form-control" id="email">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-lg-5">
			<div class="card">
				<div class="card-body pt-3">
					<form [formGroup]="avatarForm" role="form">
						<h5 class="card-title">Profile Image</h5>
						<label for="avatar_file" class="form-label">Select a file to upload</label>
						<div class="input-group mb-3">
							<input type="file" class="form-control" aria-label="Profile Image upload"
								aria-describedby="saveAvatarBtn" formControlName="avatar_file" (change)="this.onFilechange($event)">
							<button class="btn btn-primary" type="button" id="saveAvatarBtn" (click)="saveAvatar()"
								[disabled]="!avatarForm.valid">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
