<div class="card">
	<div class="card-body pt-3">
		<h5 class="card-title">Responsibilities</h5>
		<form [formGroup]="projectForm" role="form">
			@for (t of projectResponsibilities; track $index)
			{
				<div class="pb-1">
					<fa-icon class="circle-delete" [icon]="faCircleMinus" class="fa-icon-spacer text-danger"
						size="lg" role="button" (click)="deleteResponsibility(t.id)">
					</fa-icon>
					<fa-icon [icon]="faEdit" class="fa-icon-spacer text-primary ms-2"
						size="lg" role="button" (click)="startEditResponsibility(t)">
					</fa-icon>
					{{t.responsibility}}
				</div>
			}

			<!-- Edit Responsibility Section -->
			@if(editingResponsibility)
			{
				<div class="mb-3" *ngIf="editingResponsibility">
					<textarea class="form-control mb-2" placeholder="Edit responsibility"
						aria-label="Edit Responsibility"
						formControlName="edit_responsibility"
						id="edit_responsibility"
						rows="3"></textarea>
					<div>
						<button class="btn btn-success btn-sm me-2" type="button" (click)="saveEditResponsibility()"
						[disabled]="projectForm.value.edit_responsibility==''">Save Update</button>
						<button class="btn btn-secondary btn-sm" type="button" (click)="cancelEditResponsibility()">Cancel</button>
					</div>
				</div>
			}

			<!-- Add Requirement Section -->
			<div class="mb-3 mt-3">
				<textarea class="form-control mb-2" placeholder="Input new responsibility and click Add"
					aria-label="New responsibility" 
					aria-describedby="new_responsibility_button-addon"
					formControlName="new_responsibility"
					id="new_responsibility"
					rows="3">
				</textarea>
				<div>
					<button class="btn btn-primary" type="button" (click)="addResponsibility()"
						[disabled]="projectForm.value.new_responsibility==null">Save New Responsibility</button>
				</div>
			</div>
			@if(visibleConfirm)
			{
				<ngb-alert type="danger" [dismissible]="false">
					<strong>Are you sure you want to delete this responsibility?</strong>
					<div class="mt-2">
						<button type="button" class="btn btn-danger me-2" (click)="visibleConfirm = false">
							<fa-icon [icon]="faThumbsDown" class="fa-icon-spacer" size="lg"></fa-icon>No
						</button>
						<button type="button" class="btn btn-success ml-2" (click)="confirmDelete()">
							<fa-icon [icon]="faThumbsUp" class="fa-icon-spacer" size="lg"></fa-icon>Yes
						</button>
					</div>
				</ngb-alert>
			}
		</form>
	</div>
</div>

