<div class="modal-header text-white mpex-modal-header">
	<h5 class="modal-title">Delete Client Link</h5>
	<button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('')"></button>
</div>
<div class="modal-body">
    Are you sure you want to delete the Project <span class="fw-bold">{{project?.project}}?</span>
	@if(alertMessage != '')
	{
		<div class="row">
			<div class="col-12">
				<ngb-alert type="danger" (closed)="closeAlert()"><strong>Error:</strong> {{alertMessage}}</ngb-alert>
			</div>
		</div>
	}
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-danger ml-2" (click)="activeModal.dismiss('')">
		<fa-icon [icon]="faThumbsDown" class="fa-icon-spacer" size="lg"></fa-icon>No
	</button>
	<button type="button" class="btn btn-success ml-2" (click)="confirmDelete()">
		<fa-icon [icon]="faThumbsUp" class="fa-icon-spacer" size="lg"></fa-icon>Yes
	</button>
</div>

