<div class="card">
	<div class="card-body pt-3">
		<h5 class="card-title">Project(s)</h5>
		<div class="text-left pb-3">
			<button class="btn btn-purple btn-sm" type="button" (click)="createProject()">
				<fa-icon [icon]="faCirclePlus" class="fa-icon-spacer" size="lg"></fa-icon>
				Create Project
			</button>
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col"></th>
					<th scope="col">Project</th>
				</tr>
			</thead>
			<tbody>
				@for(c of this.mentorProjects; track c.id)
				{
					<tr>
						<td class="text-center" style="width: 5%">
							<fa-icon [icon]="faFileXmark" class="fa-icon-spacer"
								size="xl" style="cursor: pointer; color:red" (click)="deleteMentorProject(c)"></fa-icon>
						</td>
						<td class="text-center" style="width: 5%">
							<fa-icon [icon]="faFilePen" class="fa-icon-spacer"
								size="xl" style="cursor: pointer" (click)="updateMentorProject(c)"></fa-icon>
						</td>
						<td style="width: 90%">{{c.project}}</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
